# yarn - no zero installs
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/bin/
node_modules/

dist/
/.tsbuildinfo

*.sql
stack*.json

update_all.sh

.envrc.local
.direnv

/lambda/cognito-auth/src/config.json

.pulumi/